# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\iostudy\1\qiuhaoyangproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
